.navbar {
    transition: all 0.3s ease;
    padding: 1rem 0;
    z-index: 1000;
    box-shadow: none;
}

/* Khi cuộn xuống */
.navbar-shrink {
    padding: 0.4rem 0;
    background-color: #111 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar .nav-link {
    color: #ccc !important;
    transition: color 0.2s;

    &:hover {
        color: #fff !important;
    }
}

/* Dropdown trigger */
.navbar .dropdown-toggle {
    cursor: pointer;

    &::after {
        margin-left: 0.5rem;
    }
}

/* Bootstrap dropdown custom */
.dropdown-menu {
    background: #222 !important;
    border: 1px solid #444 !important;
    border-radius: 6px !important;
    padding: 8px 0 !important;
    min-width: 160px;


    .dropdown-item {
        color: #ddd !important;
        padding: 11px 19px !important;
        transition: all 0.2s ease;
        font-size: 20px;

        &:hover {
            background: #444 !important;
            color: #fff !important;
        }
    }
}

.container-fluid {
    font-size: var(--bs-navbar-brand-font-size);
}

.px-4 {
    padding-right: 7.5rem !important;
    padding-left: 7.5rem !important;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}